.submite{
    width:103px;
    height: 31px;
    border: 1px solid #1aa8eb;
    outline: none;
    -webkit-border-radius: 25px;
    background-color: #1aa8eb;
    color: white;
}
.cancelBtn{
    width:103px;
    height: 31px;
    border: 1px solid #1aa8eb;
    color:#1aa8eb;
    outline: none;
    background-color: #ffffff;
    -webkit-border-radius: 25px;
}